[submodule "ChateauDuChatNLHugo/themes/minimal"]
	path = ChateauDuChatNLHugo/themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "ChateauDuChatNLHugo/themes/hugo-scroll"]
	path = ChateauDuChatNLHugo/themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
